In [1]:
import tensorflow as tf   
import numpy as np 
import pandas as pd

# 1. Get the Data

In [3]:
data = pd.read_csv("../datasets/attribute_set/train_val_data_fine_grained_all.csv", index_col=0) 
data.head()

,paths,floral,graphic,striped,embroidered,pleated,solid,lattice,long_sleeve,short_sleeve,...,no_neckline,denim,chiffon,cotton,leather,faux,knit,tight,loose,conventional
0,../datasets/big_ds/img-001/img/Sweet_Crochet_B...,0,0,0,1,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,1
1,../datasets/big_ds/img-001/img/Classic_Pencil_...,0,0,0,0,0,1,0,0,0,...,1,0,0,1,0,0,0,1,0,0
2,../datasets/big_ds/img-001/img/Strapless_Diamo...,0,1,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,1
3,../datasets/big_ds/img-001/img/Mid-Rise_-_Acid...,0,0,0,0,0,1,0,0,0,...,1,1,0,0,0,0,0,1,0,0
4,../datasets/big_ds/img-001/img/Zippered_Single...,0,0,0,0,0,1,0,1,0,...,0,0,0,1,0,0,0,0,0,1

## 1.1 Segment the Data

In [41]:
desen_group = data.loc[:, [
                            "floral" ,
                            "graphic" ,
                            "striped",
                            "embroidered",
                            "solid" ,
                            "lattice" ,
                            "pleated",]] 
desen_group["group"] = np.argmax(desen_group.iloc[:, :].to_numpy(), axis=1) 
desen_group_ids = dict([(col, i) for i, col in enumerate(desen_group.columns)])

print(desen_group_ids)

desen_group.head()

{'floral': 0, 'graphic': 1, 'striped': 2, 'embroidered': 3, 'solid': 4, 'lattice': 5, 'pleated': 6, 'group': 7}

   floral  graphic  striped  embroidered  solid  lattice  pleated  group
0       0        0        0            1      0        0        0      3
1       0        0        0            0      1        0        0      4
2       0        1        0            0      0        0        0      1
3       0        0        0            0      1        0        0      4
4       0        0        0            0      1        0        0      4

In [40]:
elbise_durumu_group = data.loc[:, ["maxi_length", "mini_length", "no_dress"]]
elbise_durumu_group["group"] = np.argmax(elbise_durumu_group.iloc[:, :].to_numpy(), axis=1) 
elbise_durumu_group_ids = dict([(col, i) for i, col in enumerate(elbise_durumu_group.columns)])

print(elbise_durumu_group_ids)
elbise_durumu_group.head()

{'maxi_length': 0, 'mini_length': 1, 'no_dress': 2, 'group': 3}

   maxi_length  mini_length  no_dress  group
0            0            0         1      2
1            0            0         1      2
2            1            0         0      0
3            0            0         1      2
4            0            0         1      2

In [39]:
yaka_group = data.loc[:, ["crew_neckline", "v_neckline" ,"square_neckline", "no_neckline"]] 
yaka_group["group"] = np.argmax(yaka_group.iloc[:, :].to_numpy(), axis=1) 
yaka_group_ids = dict([(col, i) for i, col in enumerate(yaka_group.columns)])

print(yaka_group_ids)
yaka_group.head()

{'crew_neckline': 0, 'v_neckline': 1, 'square_neckline': 2, 'no_neckline': 3, 'group': 4}

   crew_neckline  v_neckline  square_neckline  no_neckline  group
0              0           0                0            1      3
1              0           0                0            1      3
2              0           0                0            1      3
3              0           0                0            1      3
4              0           1                0            0      1

In [38]:
kumas_group = data.loc[:, [
                            "denim", 
                            "cotton" ,
                            "chiffon",
                            "leather",
                            "faux",
                            "knit"]]  
kumas_group["group"] = np.argmax(kumas_group.iloc[:, :].to_numpy(), axis=1) 
kumas_group_ids = dict([(col, i) for i, col in enumerate(kumas_group.columns)])

print(kumas_group_ids)
kumas_group.head()

{'denim': 0, 'cotton': 1, 'chiffon': 2, 'leather': 3, 'faux': 4, 'knit': 5, 'group': 6}

   denim  cotton  chiffon  leather  faux  knit  group
0      0       0        1        0     0     0      2
1      0       1        0        0     0     0      1
2      0       1        0        0     0     0      1
3      1       0        0        0     0     0      0
4      0       1        0        0     0     0      1

- To Do: might remove the 'conventional' column

In [37]:
kalip_group = data.loc[:, [
    "tight", "loose", "conventional"
]]
kalip_group["group"] = np.argmax(kalip_group.iloc[:, :].to_numpy(), axis=1) 
kalip_group_ids = dict([(col, i) for i, col in enumerate(kalip_group.columns)])

print(kalip_group_ids)
kalip_group.head()

{'tight': 0, 'loose': 1, 'conventional': 2, 'group': 3}

   tight  loose  conventional  group
0      0      0             1      2
1      1      0             0      0
2      0      0             1      2
3      1      0             0      0
4      0      0             1      2

In [36]:
kol_group = data.loc[:, ["long_sleeve", "short_sleeve", "sleeveless"]] 
kol_group["group"] = np.argmax(kol_group.iloc[:, :].to_numpy(), axis=1) 
kol_group_ids = dict([(col, i) for i, col in enumerate(kol_group.columns)])

print(kol_group_ids)
kol_group.head()

{'long_sleeve': 0, 'short_sleeve': 1, 'sleeveless': 2, 'group': 3}

   long_sleeve  short_sleeve  sleeveless  group
0            0             0           1      2
1            0             0           1      2
2            0             0           1      2
3            0             0           1      2
4            1             0           0      0

## 1.2 Merge Segments and Create y_train, y_test

In [52]:
data_segmented = pd.DataFrame() 

data_segmented["path"] = data.paths.copy() 
data_segmented["desen"] = desen_group.group.copy()  
data_segmented["elbise_durumu"] = elbise_durumu_group.group.copy()
data_segmented["yaka"] = yaka_group.group.copy()
data_segmented["kumas"] = kumas_group.group.copy() 
data_segmented["kalip"] = kalip_group.group.copy() 
data_segmented["kol"] = kol_group.group.copy() 

data_segmented.tail()

,path,desen,elbise_durumu,yaka,kumas,kalip,kol
1995,../datasets/big_ds/img-001/img/Embroidered_Pea...,3,2,1,1,2,2
1996,../datasets/big_ds/img-001/img/Tasmanian_Devil...,4,2,1,5,2,0
1997,../datasets/big_ds/img-001/img/Lace-Sleeved_Ra...,2,2,0,1,2,0
1998,../datasets/big_ds/img-001/img/Floral_Mosaic_P...,0,2,1,1,2,1
1999,../datasets/big_ds/img-001/img/Sparkling_Ruche...,3,1,3,2,2,2

## 1.3 Data Split

In [56]:
from sklearn.model_selection import train_test_split 

X_train, X_test, y_train, y_test = train_test_split(
    data_segmented.iloc[:, 0],
    data_segmented.iloc[:, 1:],
    test_size=0.25, 
    random_state=42
)

X_train.shape, X_test.shape

((12000,), (4000,))

# 2. Custom Data Generator

In [85]:
class CustomDataGenerator: 
    def __init__(self, Xy_train: pd.DataFrame, Xy_test: pd.DataFrame, shape=[224, 224]): 
        self.Xy_train = Xy_train 
        self.Xy_test = Xy_test 
        self.shape = shape 

        merged = pd.concat([Xy_train, Xy_test], axis=0) 
        
        self.desen_arr_max = merged["desen"].value_counts().index.max() 
        self.elbise_durumu_arr_max = merged["elbise_durumu"].value_counts().index.max() 
        self.yaka_arr_max = merged["yaka"].value_counts().index.max()
        self.kumas_arr_max = merged["kumas"].value_counts().index.max()
        self.kalip_arr_max = merged["kalip"].value_counts().index.max()   
        self.kol_arr_max = merged["kol"].value_counts().index.max()   

    def categorical_to_one_hot(self, arr: np.array, ds_max: int):
        zeros = np.zeros((arr.size, ds_max+1)) 
        zeros[np.arange(arr.size), arr] = 1 
        return zeros 
    
    def preprocess_image(self, img_path): 
        """
            Used to perform some minor preprocessing on the image before inputting into the network. 
        """
        img = tf.io.read_file(img_path)
        img = tf.image.decode_jpeg(img, channels=3) 
        img = tf.image.resize(img, self.shape) 
        return img.numpy() 

    def generate_image(self, is_training: bool, batch_size=32, epoch=5): 
        images, desen, elbise_durumu, yaka, kumas, kalip, kol = [], [], [], [], [], [], [] 
        
        if is_training:
            Xy = self.Xy_train 
        else: 
            Xy = self.Xy_test 

        while True: 
            for idx, row in Xy.iterrows():
                images.append(self.preprocess_image(row["path"]))
                desen.append(row["desen"])
                elbise_durumu.append(row["elbise_durumu"])
                yaka.append(row["yaka"])
                kumas.append(row["kumas"]) 
                kalip.append(row["kalip"]) 
                kol.append(row["kol"]) 

                if len(images) >= batch_size:
                    yield np.array(images), {"desen": self.categorical_to_one_hot(np.array(desen), self.desen_arr_max), 
                                             "elbise_durumu": self.categorical_to_one_hot(np.array(elbise_durumu), self.elbise_durumu_arr_max), 
                                             "yaka": self.categorical_to_one_hot(np.array(yaka), self.yaka_arr_max),
                                             "kumas": self.categorical_to_one_hot(np.array(kumas), self.kumas_arr_max),
                                             "kalip": self.categorical_to_one_hot(np.array(kalip), self.kalip_arr_max),
                                             "kol": self.categorical_to_one_hot(np.array(kol), self.kol_arr_max)}
                    images, desen, elbise_durumu, yaka, kumas, kalip, kol = [], [], [], [], [], [], [] 

            epoch = epoch - 1 
            if epoch == 0:
                break

# 3. Models

In [110]:
SHAPE = (224, 224, 3)
DESEN_NR_NEURON = len(sorted(y_train.desen.value_counts().index)) 
ELBISE_DURUMU_NR_NEURON = len(sorted(y_train.elbise_durumu.value_counts().index))
YAKA_NR_NEURON = len(sorted(y_train.yaka.value_counts().index)) 
KUMAS_NR_NEURON = len(sorted(y_train.kumas.value_counts().index))
KALIP_NR_NEURON = len(sorted(y_train.kalip.value_counts().index))
KOL_NR_NEURON = len(sorted(y_train.kol.value_counts().index))

## 3.1 Efficient Net B0

In [102]:
eff_net = tf.keras.applications.EfficientNetB0(include_top=False) 
eff_net.trainable = False

In [113]:
inputs = tf.keras.layers.Input(shape=(224, 224, 3)) 
x = eff_net(inputs) 
x = tf.keras.layers.GlobalAveragePooling2D()(x) 

output_desen = tf.keras.layers.Dense(DESEN_NR_NEURON, activation=tf.keras.activations.softmax, name="desen")(x)
output_elbise_durumu = tf.keras.layers.Dense(ELBISE_DURUMU_NR_NEURON, activation=tf.keras.activations.softmax, name="elbise_durumu")(x)
output_yaka = tf.keras.layers.Dense(YAKA_NR_NEURON, activation=tf.keras.activations.softmax, name="yaka")(x)
output_kumas = tf.keras.layers.Dense(KUMAS_NR_NEURON, activation=tf.keras.activations.softmax, name="kumas")(x)
output_kalip = tf.keras.layers.Dense(KALIP_NR_NEURON, activation=tf.keras.activations.softmax, name="kalip")(x)
output_kol = tf.keras.layers.Dense(KOL_NR_NEURON, activation=tf.keras.activations.softmax, name="kol")(x)

model_1 = tf.keras.Model(inputs=inputs, outputs=[output_desen, output_elbise_durumu, output_yaka, output_kumas, output_kalip, output_kol], name="Ayd-Net-2")

In [117]:
model_1.compile(optimizer=tf.keras.optimizers.Adam(), 
                loss={
                    'desen': 'categorical_crossentropy',
                    'elbise_durumu': 'categorical_crossentropy',
                    'yaka': 'categorical_crossentropy',
                    'kumas': 'categorical_crossentropy',
                    'kalip': 'categorical_crossentropy',
                    'kol': 'categorical_crossentropy'
                }, 
                metrics={
                    'desen': [tf.keras.metrics.Precision(name="precision_desen"), tf.keras.metrics.Recall(name="recall_desen")], 
                    'elbise_durumu': [tf.keras.metrics.Precision(name="precision_elbise_durumu"), tf.keras.metrics.Recall(name="recall_elbise_durumu")],
                    'yaka': [tf.keras.metrics.Precision(name="precision_yaka"), tf.keras.metrics.Recall(name="recall_yaka")],
                    'kumas': [tf.keras.metrics.Precision(name="precision_kumas"), tf.keras.metrics.Recall(name="recall_kumas")],
                    'kalip': [tf.keras.metrics.Precision(name="precision_kalip"), tf.keras.metrics.Recall(name="recall_kalip")],
                    'kol': [tf.keras.metrics.Precision(name="precision_kol"), tf.keras.metrics.Recall(name="recall_kol")]
                })

In [118]:
checkpoint_path = "./checkpoints/multi_outputs_models/model_1/checkpoint-{epoch:01d}.ckpt" 
checkpoint_callback = tf.keras.callbacks.ModelCheckpoint(filepath=checkpoint_path,
                                                         save_weights_only=True,
                                                         save_best_only=False,
                                                         verbose=1)

In [ ]:
Xy_train = pd.concat([X_train, y_train], axis=1)
Xy_test = pd.concat([X_test, y_test], axis=1)
data_gen = CustomDataGenerator(Xy_train, Xy_test)
epoch = 20 
batch_size = 32 

model_1_history = model_1.fit(
            data_gen.generate_image(True, batch_size=batch_size, epoch=epoch), 
            steps_per_epoch=np.floor(len(Xy_train) / batch_size), 
            epochs=epoch, 
            validation_data=data_gen.generate_image(False, batch_size=batch_size, epoch=epoch), 
            validation_steps=np.floor(len(Xy_test) / batch_size), 
            callbacks=[checkpoint_callback])